<style>
.introducao_sobre{
  background: url(https://cdn.shopify.com/s/files/1/0530/8311/1586/files/bg-sobre.jpg?v=1611600270) no-repeat center;
  background-size: cover;
}

.missao_sobre{
  padding-top: 60px;
}

.missao_sobre p{
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 1em;
  padding-right: 60px;
}

.missao_sobre ul li{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  line-height: 30px;
}

.foto_equipe{
  padding-top: 20px;
}
</style>


<section class="introducao_interna introducao_sobre">
  <div>
    <h1 data-anime="400" class="fadeInDown">{{page.title}}</h1>
      <p data-anime="800" class="fadeInDown">“Conheça mais sobre a Bikcraft”</p>
  </div>
</section>
<!-- Fim banner sobre -->

<!-- Inicio História -->
<section class="missao_sobre container fadeInDown" data-anime="1200">
  {{page.content}}
</section>
<!-- Fim História -->

<!-- Campo de qualidade na home page -->
<!-- Fim campo de qualidade na home page -->
<!-- Inicio quebra page na home page -->

<style>
  .bg_img{
    background: url(https://cdn.shopify.com/s/files/1/0530/8311/1586/files/bg-footer.jpg?v=1611600270) no-repeat center;
    background-size: cover;
    margin: 40px 0 0 0;
  }
</style>

<section class="quebra bg_img">
  <blockquote class="quote_externo container">
    <p>“O verdadeiro segredo da felicidade está em ter um genuíno interesse por 
        todos os detalhes da vida cotidiana.”</p>
      <cite>WILLIAM MORRIS</cite>
  </blockquote>
</section>