<style>
  .introducao_contato{
  background: url(https://cdn.shopify.com/s/files/1/0530/8311/1586/files/bg-contato.jpg?v=1611600409) no-repeat center;
  background-size: cover;
}


.contato{
  padding: 40px 0;
}

.contato_form {
  padding-right: 60px;
}

.contato_form label{
  display: block;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 4px;
}

.contato_form input{
  display: block;
  width: 100%;
  border: 4px solid #FEC63E;
  background: none;
  padding: 7px 10px;
  outline: none;
  font-size: 14px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 10px;
}

.contato_form textarea{
  display: block;
  width: 100%;
  height: 120px;
  border: 4px solid #FEC63E;
  background: none;
  padding: 7px 10px;
  outline: none;
  font-size: 14px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 20px;
}

.contato_form button{
  padding: 7px 40px;
  background: none;
}

.contato_dados{
  color: #000000;
}

.contato_dados h3{
  color: #FEC63E;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  font-weight: bold;
}

.contato_dados span{
  display: block;
  font-size: 18px;
  line-height: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.contato_dados span:nth-of-type(even){
  margin-bottom: 30px;
}

.contato_dados ul{
  margin-top: 10px;
  padding-right: 60px;
}

.contato_dados ul li{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 14px;
  padding: 10px 15px ;
}

.contato_dados p{
  margin: 8px 0;
}

.contato_dados ul li{
  display: inline-block;
  margin-right: 10px;
}

.contato_dados ul li a{
  border: 3px solid #FEC63E;
  display: block;
  padding: 10px;
}

.contato_dados ul li a:hover{
  border: 3px solid #000000;
}

.contato_mapa{
  margin-bottom: 60px;
}
</style>

<section class="introducao_interna introducao_contato">
  <div>
    <h1 data-anime="400" class="fadeInDown">Contato</h1>
      <p data-anime="800" class="fadeInDown">Tire suas dúvidas com a gente</p>
  </div>
</section>

<section class="contato container fadeInDown" data-anime="1200">
  <form class="grid-8 contato_form">
    {% if form.posted_successfully? %} Thank you for your contact {% endif %}
    {{ form.errors | default_errors }}
    <label for="ContactFormName">Nome</label>
    <input type="text" id="ContactFormName" name="contact[name]">
    <label for="ContactFormEmail">E-mail</label>
    <input type="email" id="ContactFormEmail" name="contact[email]">
    <label for="ContactFormPhone">Telefone</label>
    <input type="tel" id="ContactFormPhone" name="contact[phone]">
    <label for="ContactFormMessage">Mensagem</label>
    <textarea rows="10" id="ContactFormMessage" name="contact[body]"></textarea>
    <button class="btn btn_preto" type="submit" value="send">Enviar</button>
  </form>
  <div class="contato_dados grid-8">
      <h3>Dados</h3>
      <span>+55 21 93223 3232</span>
      <span>orçamento@bikcraft.com</span>
      <span>Rua Ali Perto - Botafogo</span>
      <span>Rio de Janeiro - RJ - Brasil</span>
      <h3>Redes Sociais</h3>
      <ul>
        <li><a href="https://facebook.com" target="_blank"><img 
        src="https://cdn.shopify.com/s/files/1/0530/8311/1586/files/facebook.svg?v=1611600409" alt="Bikcraft Facebook"></a></li>
        <li><a href="https://instagram.com" target="_blank"><img 
        src="https://cdn.shopify.com/s/files/1/0530/8311/1586/files/instagram.svg?v=1611600409" alt="Bikcraft Instagram"></a></li>
        <li><a href="https://twitter.com" target="_blank"><img 
        src="https://cdn.shopify.com/s/files/1/0530/8311/1586/files/twitter.svg?v=1611600409" alt="Bikcraft Twitter"></a></li>
      </ul>
    </div>
</section>
  <section class="container">
    <a class="grid-16 contato_mapa" href="https://google.com.br" target="_blank"><img src="https://cdn.shopify.com/s/files/1/0530/8311/1586/files/endereco-bikcraft.jpg?v=1611600409" alt="Endereço da Bikcraft" ></a>
  </section>